header {
  background-color: #FFF;
}

header img {
  width: 133px;
  height: 26px;
  object-fit: contain;
}

header nav {
  display: flex;
  height: 64px;
  flex-direction: row;
  width: 100%;
  max-width: 1096px;
  margin: 0 auto;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  display: flex;

  height: 64px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  height: 20px;
  padding: 20px;
  border-top: 3px solid #FFF;
}

header nav ul li.active {
  border-top: 3px solid #071eb3;
}

header nav ul li:hover {
  border-top: 3px solid #071eb3;
}

header nav ul li a {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  color: #071eb3;
}
